#title { background-color: rgb(187, 232, 242);
color: white;;}
/* COGS3 studyBuddy specific styles go here. */

.container-fluid {
  padding: 5% 15%;
  background-color: rgb(240, 232, 211);
}
.body{
  background-color: rgb(187, 232, 242); 
}
h1 {
  font-family: 'Courier', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
 
}
h2{
  color: #fff;
  font-family: 'Oswald';
  font-size: 1.5;
  font-weight: bold;
}
h3{
  font-family: 'Oswald';
  font-weight: bold;
  color: black;
  }

p{
  color: #8f8f8f;
}
/* Initial witing under Hello */
.intro {
  color: white;
  font: Courier;
}

/* NAVIGATION BAR */
.navbar{
  padding: 0 0 4.5rem;
  color: white;
}
.navbar-brand {
  font-family: 'Courier';
  font-size: 3rem;
  font-weight: bold;
  color: white;
  

}
.nav-item{
  padding: 0 18px;
  color: white;
  cursor: zoom-in;
}

.nav-link{
  font-family: 'courier', sans-serif;
  font-size: 1.2rem;
  color: white;
  margin: 40px;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width: 60%;
  text-align: right;
  transform: rotate(20deg);
  position: absolute;
  background-color: rgb(240, 232, 211);
}


/* Features seciton */
#features {
  padding: 7% 15%;
  background-color:rgb(187, 232, 242);
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
}


/* testimonial section */
#testimonials {
  
  text-align: center;
  background-color: rgb(187,232,242);
}
.carousel-item{
  padding: 3% 7%;
}
.testimonial-image{
  width: 70%;
  
  margin: 10px;
}



/* pricing section */
#pricing { 
  padding: 100px;
  text-align: center;
  background-color:rgb(187, 232, 242);
}
.pricing-header{
  color: black
  ;
}
.pricing-column{
  padding: 3% 2%;
}
.cardcolor{
  background-color: blanchedalmond;
}
.cardimage{
  width: 75%;
  padding-bottom: 2%;

}
.cardimage2 {
  padding-bottom: 8.5%;
  width: 75%;
}
.cardimage3{
  width: 78.5%;
  padding-bottom: 7.5%;
  padding-top: 7.5%;
}
.cardimage4{
  width: 81.5%;
  padding-bottom: 10%;
  padding-top: 10%;
}
.cogscard{
  
  text-align: left;
  margin-left: 20.5%;
  
}
.financecard{
  text-align: right;
  padding-left: 40%;
  color: black;
}
.projects{
  color: black;
}
#cta {
  background-color: rgb(187, 232, 242);
  color: rgb(217, 23, 23);
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  
}
/* footer */
#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: rgb(7, 77, 7);

}
.social-icon{
  margin: 20px 10px;
}
.social-icon:hover{
  color: bisque;
}
/* media query section */
@media (max-width: 1028px){

  #title {text-align: center;}
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
.navbar-toggler {
 text-align: right;
}